{% block buttonModalManageGameEdit %}
    <button type="button" class="dropdown-item btn btn-modal" data-bs-toggle="modal"
            data-bs-target="#game-manage-modal-edit-{{ game.id }}">
        <i class="mdi mdi-pencil me-1"></i>{{ 'admin.game.edit'|trans }}
    </button>
{% endblock %}
{% block modalManageGameEdit %}
    <div id="game-manage-modal-edit-{{ game.id }}" class="modal fade game-manage-modal-edit-{{ game.id }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content js-manage-game-edit">

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="{{ path('app_home_admin') }}">
                            <span><img src="{{ asset('/logo/logo_horizontal_black.svg') }}" alt="" height="125"></span>
                        </a>
                    </div>

                    <form id="edit_game_form" class="ps-3 pe-3 edit_game_form" role="form"
                          method="POST"
                          action="{{ path('app_admin_manage_game_edit',{gameId: game.id}) }}"
                          data-url="{{ path('app_admin_manage_game_edit',{gameId: game.id}) }}"
                          data-id="{{ game.id }}"
                    >

                        <div class="mb-3">
                            <label for="title" class="form-label">{{ 'admin.game.manage.title'|trans }}</label>
                            <input type="text" id="title" name="title" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="description"
                                   class="form-label">{{ 'admin.game.manage.description'|trans }}</label>
                            <textarea class="form-control" id="description" name="description" rows="10"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="gameMaster"
                                   class="form-label">{{ 'admin.game.manage.game_master'|trans }}</label>
                            <select class="form-select" id="gameMaster" name="gameMaster">
                                {% for user in users %}
                                    {% if user not in game.players %}
                                        <option value="{{ user.id }}" {% if user == game.gameMaster %} selected="selected" {% endif %}>{{ user.firstname }} {{ user.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="weekSlot"
                                   class="form-label">{{ 'admin.game.manage.week_slot'|trans }}</label>
                            <select class="form-select" id="weekSlot" name="weekSlot">
                                {% for week in weekSlot %}
                                    <option value="{{ week }}">{{ week }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="hourSlot"
                                   class="form-label">{{ 'admin.game.manage.hour_slot'|trans }}</label>
                            <select class="form-select" id="hourSlot" name="hourSlot">
                                {% for slot in hourSlot %}
                                    <option value="{{ slot }}">{{ slot }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row g-2">
                            <div class="mb-3 col-md-6">
                                <label for="minGamePlace"
                                       class="form-label">{{ 'admin.game.manage.min_game_place'|trans }}</label>
                                <input class="form-control" id="minGamePlace" type="number" name="minGamePlace">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="maxGamePlace"
                                       class="form-label">{{ 'admin.game.manage.max_game_place'|trans }}</label>
                                <input class="form-control" id="maxGamePlace" type="number" name="maxGamePlace">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="picture" class="form-label">{{ 'admin.game.manage.picture'|trans }}</label>
                            <input type="file" id="picture" name="picture" class="form-control">
                        </div>

                        <div class="mb-3 text-center">
                            <button class="btn btn-primary"
                                    type="submit">{{ 'admin.game.manage.button_edit'|trans }}</button>
                        </div>
                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}