<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="{{ path('app_home') }}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="{{ asset('/logo/logo_officiel.svg') }}" alt="" height="150">
        </span>
        <span class="logo-sm">
            <img src="{{ asset('/logo/logo_officiel.svg') }}" alt="" height="50">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-item">
                <a href="{{ path('app_home') }}" class="side-nav-link">
                    <i class="uil-layer-group"></i>
                    <span> {{ 'home'|trans }} </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{{ path('app_activity') }}" class="side-nav-link">
                    <i class="uil-layer-group"></i>
                    <span> {{ 'activity'|trans }} </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{{ path('app_contact') }}" class="side-nav-link">
                    <i class="uil-layer-group"></i>
                    <span> {{ 'contact'|trans }} </span>
                </a>
            </li>
            {% if is_granted('ROLE_STAFF') %}
                <li class="side-nav-item">
                    <a href="{{ path('app_home_admin') }}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'admin.pannel'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="side-nav-item">
                    <a href="{{ path('app_profil')}}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'my_account'|trans }} </span>
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="{{ path('app_logout') }}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'logout'|trans }} </span>
                    </a>
                </li>
            {% else %}
                <li class="side-nav-item">
                    <a href="{{ path('app_login') }}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'login'|trans }} </span>
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="{{ path('app_register') }}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'register'|trans }} </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->