{% extends 'base.html.twig' %}

{% use 'app/modalApp/_modal_failed_contact.html.twig' %}
{% use 'app/modalApp/_modal_success_contact.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block section %}
    <div class="container-fluid mx-0 px-0">
        <div class="row justify-content-evenly mt-3 mb-5 mx-0 px-3">
            <div class="col-lg-3 col-md-6 col-12 contact-bloc-info px-1 mx-1 my-1">
                <img class="col-md-3 col-3" src="{{ asset('/appTheme/images/icon/phone.svg') }}">
                <p class="text-center mx-0 px-0 my-0 py-0">06.66.69.15.57</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12 contact-bloc-info px-1 mx-1 my-1">
                <img class="col-md-3 col-3" src="{{ asset('/appTheme/images/icon/pointer-map.svg') }}">
                <p class="text-center mx-0 px-0 my-0 py-0">Si&egrave;ge: 7 Rue des Peupliers - 64600 Anglet</p>
                <p class="text-center mx-0 px-0 my-0 py-0">Local: 6 rue Albert le Barillier - 64600 Anglet</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12 contact-bloc-info px-1 mx-1 my-1">
                <div class="row justify-content-center mx-0 py-lg-1">
                    <div class="col-6 text-center">
                        <a href="https://www.facebook.com/LaLegionDuPhenix" target="_blank">
                            <img class="reseau-img" src="{{ asset('/appTheme/images/icon/facebook.svg') }}">
                        </a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="https://www.instagram.com/la_legion_du_phenix" target="_blank">
                            <img class="reseau-img" src="{{ asset('/appTheme/images/icon/instagram.svg') }}">
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center mx-0 py-lg-1">
                    <div class="col-6 text-center mt-3">
                        <a href="https://www.discord.gg/CFnMj9Eb72" target="_blank">
                            <img class="reseau-img" src="{{ asset('/appTheme/images/icon/discord.svg') }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mx-0 px-3 mt-5 js-contact">
            <div class="col-md-6 col-12 mx-0 px-3 my-1">
                <h3 class="contact-title">{{ 'page.contact.form_title'|trans }}</h3>
                {{ form_start(form_contact,{'attr': {'class':"contact-form form_contact_action" , 'action': path('app_contact_send') , 'data-url': path('app_contact_send') }}) }}
                    <div class="mb-3">
                        {{ form_label(form_contact.name) }}
                        {{ form_widget(form_contact.name) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form_contact.firstname) }}
                        {{ form_widget(form_contact.firstname) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form_contact.phone) }}
                        {{ form_widget(form_contact.phone) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form_contact.email) }}
                        {{ form_widget(form_contact.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form_contact.subject) }}
                        {{ form_widget(form_contact.subject) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form_contact.message) }}
                        {{ form_widget(form_contact.message) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form_contact.captcha) }}
                    </div>
                    <button type="submit" class="btn btn-lpd">{{ 'page.contact.form_submit'|trans }}</button>
                {{ form_end(form_contact) }}
            </div>
            <div class="col-md-6 col-12 mx-0 px-3 my-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2047.0223731116482!2d-1.514303420961198!3d43.48299792972747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5140052eef8f15%3A0xc2e89d48d574293e!2s6+Rue+Albert+le+Barillier%2C+64600+Anglet!5e0!3m2!1sfr!2sfr!4v1534453047568"
                        width="100%" height="100%" frameborder="0" class="google-iframe" id="carteIframe"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

    {% block modalSuccessContact %}
        {{ parent() }}
    {% endblock %}
    {% block modalFailedContact %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contactApp') }}
    {{ encore_entry_script_tags('contactWrapper') }}
{% endblock %}
