{% for user in game.players %}
    <div class="mb-1 form-check">
        <input type="checkbox"
               class="form-check-input check-game-{{ game.id }}-player-{{ user.id }}"
               id="check-game-{{ game.id }}-player-{{ user.id }}" name="player"
               value="{{ user.id }}">
        <label class="form-check-label"
               for="check-game-{{ game.id }}-player-{{ user.id }}">{{ user.firstname }} {{ user.name }} ({{ user.username }})</label>
    </div>
{% endfor %}
<div class="mb-3 text-center">
    <button class="btn btn-primary" type="submit">
        {{ 'admin.game.manage.button_delete_player'|trans }}
    </button>
</div>
